@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  -webkit-text-size-adjust: 100%;
  font-feature-settings: "cv02", "cv03", "cv04", "cv11";
}

body {
  font-family: "Inter", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
  background-color: var(--color-background);
  color: var(--color-foreground);
  transition:
    background-color 0.2s ease,
    color 0.2s ease;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

@theme {
  --color-background: rgb(245, 248, 245);
  --color-foreground: #171717;
}

.dark {
  color-scheme: dark;
  --color-background: rgb(15, 23, 42);
  --color-foreground: #ededed;
}
